version: '3.8'
services:
  backend:
    image: nginx:alpine
    ports:
      - "8081:8081"
    volumes:
      - ../kanban-backend:/usr/share/nginx/html:ro

  frontend:
    image: nginx:alpine
    ports:
      - "8080:8080"
    volumes:
      - ../kanban-frontend:/usr/share/nginx/html:ro
